---
title: Eleventy filter arguments
eleventyExcludeFromCollections: true
---

<ul>
  {% for p in collections.all %}
  <li><a href="{{ p.url | url }}">{{ p.data.title }}</a></li>
  {% endfor %}
</ul>
